@media screen and (max-width: 1200px) {

    body {
        font-size: 14px;
        line-height: 16px;
    }

    .container {
        width: 990px;
    }

    h2 {
        font-size: 24px;
        line-height: 28px;
        padding: 46px 0;
    }

    h4 {
        font-size: 18px;
        line-height: 25px;
    }

    hr {
        width: 142px;
    }

    .header__logo {
        margin-left: 0;
    }

    .header__menu a {
        width: 113px;  
    }

    .main {
        padding: 136px 0 106px 0;
    }

    .main__content {
        margin-left: 100px;
    }

    .main__content__logo {
        width: 184px;
        height: 75px;
    }

    .main__content__title {
        width: 454px;
        font-size: 36px;
        line-height: 42px;
        margin: 37px 0 41.5px;
    }

    .main__content__text {
        width: 184px;
        margin: 31px 0;
    }

    .download {
        width: 184px;
    }

    .main__form {
        width: 398px;
    }
    
    .main__form h4 {
        padding: 32.2px 0;
    }

    .main__form input {
        width: 298px;
    }

    .social {
        margin-bottom: 50px;
    }

    .social__media h4 {
        padding: 10px 0;
    }

    .social__media p {
        width: 402px;
        margin: 13px 0;
    }

    .social__icons {
        column-gap: 20px;
    }

    .social__icons a img {
        width: 64px;
        height: 64px;
    }

    .tabs__features {     
        width: 482.89px;
        padding-left: 83px;
    }

    .tabs__features__title {
        font-size: 24px;
        line-height: 33px;
        padding: 28px 0;
    }

    .tabs__features__text {
        font-size: 12px;
        line-height: 14px;
        margin: 38px 0;
    }

    .tabs .download {
        width: 232px;
        margin-bottom: 50px;
    }

    .tabs__features__img{
        width: 398px;
        height: 385px;
    }

    .tabs label {
        width: 156px;
        margin-bottom: 385px;  
    }

    #tab1:checked ~ label:first-of-type {
        width: 172px;
    }

    #tab2:checked ~ label:first-of-type {
        width: 172px;
    }

    #tab3:checked ~ label:first-of-type {
        width: 172px;
    }

    .heading__title {
        padding: 46px 0;
    }

    .heading__text {
        margin-top: 32px;
    }

    .awesome__content {
        column-gap: 20px;
        margin-top: 65.7px;
    }

    .awesome__reasons__icon {
        width: 80px;
        height: 80px;
    }

    .awesome__reasons h4 {
        padding: 28.5px 0;
    }

    .awesome__reasons__text {
        padding: 0;
        margin: 17px 0 68px 0;
    }

    .options__offer {
        column-gap: 20px;
        margin-top: 50px;
    }

    .options__offer__pack li {  
        padding: 12px 0;
    }

    .options__offer__pack li:first-child { 
        padding: 10px 0;
    }

    .options__offer__pack li:nth-child(2) { 
        padding: 23.5px 0;
    }

    .options__offer__pack_middle {
        margin-top: -18px;
    }

    .customers__reviews {
        column-gap: 20px;
        padding: 32px 0 59px 0;
    }

    .customers__item__comment::after {
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-top: 20px solid #E2E2E2;
        left: 60px;
    }

    .customers__item__people {
        column-gap: 22.5px;
    }

    .customers__people__photo {
        width: 63px;
        height: 63px;
    }

    .customers__people__who h4 {
        padding: 5.5px 0;
        margin-bottom: 9px;
    }

    .download_banner {
        width: 318px;
        margin: 32px auto 0;
    }

    .contact__form {
        font-family: 'Open Sans', sans-serif; 
        margin-top: 64px;
    }

    .contact__form__field {
        column-gap: 20px;
    }

    .contact__form input[type="submit"] {
        width: 318px;
    }

    .footer {
        padding-bottom:30px;
    }

    .footer__icons {
        column-gap: 27px;
    }

    .footer__icons a img {
        width: 46px;
        height: 45px;
    }

    .footer__text {  
        margin-top: 38px;
    }

}

@media screen and (max-width: 992px) {
    
    .container{
        width: 720px;
    }

    .main {
        padding: 94px 0 106px 0;
    }

    .main__content {
        margin-left: 50px;
    }

    .main__content__title {
        width: 320px;
    }

    .social__media p {
        width: 250px;
    }

    .social__icons a img {
        width: 50px;
        height: 50px;
    }

    .tabs__features {
        padding-left: 50px;
    }

    .tabs__features__title {
        font-size: 18px;
        line-height: 25px;
        padding: 20px 0;
    }

    .tabs__features__text {
        width: 250px;
        margin: 0 0 20px;
    }

    .tabs .download {
        width: 200px;
        margin-bottom: 40px;
    }

    .customers__people__who h4 {
        font-size: 13px;
    }

    .customers__people__who p {
        font-size: 10px;
    }

}

@media screen and (max-width: 768px) {
    
    .container {
        width: 100%;
    }

    h2 {
        font-size: 24px;
        line-height: 28px;
        padding: 49.5px 0;
    }

    h4 {
        font-size: 18px;
        line-height: 25px;
    }


    hr {
        width: 134px;
    }

    .header__logo {
        width: 130px;
        height: 56px;
        margin-left: 20px;
    } 

    .header__menu {
        width: 100%;
        background-color: #000000;
        display: none;
        position: absolute;
        left: 0;
        top: 55px;
    }

    .header__burger > .header__menu a {
        width: 100%; 
        padding: 24px 0;
    }

    .header__burger label {
        width: 24px;
        height: 18px;
        display: flex;
        align-items: center;
        margin-top: 19px;
        position: absolute;
        top: 0;
        right: 35px;
    }

    #burger {
        width: 0;
        height: 0;
        opacity: 0;
    }

    .header__burger span,
    .header__burger span::before,
    .header__burger span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #fff;
    }
    
    .header__burger span::before {
        content: '';
        top: -8px;
    }

    .header__burger span::after {
        content: '';
        top: 8px;
    }

    #burger:checked ~ label span {
        transform: rotate(45deg);
    }

    #burger:checked ~ label span::before {
        top: 0;
        transform: rotate(0);
    }

    #burger:checked ~ label span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #burger:checked ~ .header__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main {
        padding: 84px 0 50px 0;
    }    
    
    .main .container {
        flex-direction: column;
        align-items: center;
    }

    .main__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 0;
    }

    .main__content__logo {
        display: none;
    }

    .main__content__title {
        width: 100%;
        margin: 0 0 43.88px 0;
    }

    .main__content__text {
        width:100%;
        margin: 42px, 0;
    }

    .download {
        width: 100%;
        margin-bottom: 56px;
    }

    .main__form {
        width: 100%;
    }

    .main__form h4 {
        font-size: 14px;
        line-height: 19px;
        padding: 35.5px 0;
        margin-bottom: 0;
    }

    .main__form input {
        width: 83%;
    }

    .main__form input:first-of-type {
        margin-top: -16px;
    }

    .main__form input:last-child {
        margin-top: 51px;
    }

    .social {
        padding: 31px 0 44px 0;
        margin-bottom: 41px;
    }

    .social .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .social__media p {
        width: 93%;
        margin-bottom: 32px;
    }

    .social__icons {
        column-gap: 17px;
    }

    .social__icons a img {
        width: 26px;
        height: 26px;
    }

    .tabs__content {
        width: 95%; 
    }

    .tabs__features {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-left: 0px;
    }

    .tabs__features__title {
        width: 243px;
        font-size: 18px;
        line-height: 25px;
        padding: 37px 0;
    }

    .tabs__features__text {
        width: 243px;
        font-size: 13px;
        line-height: 15px;
        margin: 29px 0 20px 0;
    }

    .tabs__features__text span {
        display: inline;
    }

    .tabs__features .download {
        width: 243px;
        padding: 10.5px 0;
    }  
    
    .tabs__features__img{
        display: none;
    }

    .tabs label {
        flex-grow: 1;
        margin-bottom: 442px;  
    }
 
    #tab1:checked ~ label:first-of-type {
        flex-grow: 1;
    }

    #tab2:checked ~ label:first-of-type {
        flex-grow: 1;
    }

    #tab3:checked ~ label:first-of-type {
        flex-grow: 1;
    } 

    .heading {
        text-align: center;
        padding: 0;
    }

    .heading__text {
        margin-top: 25px;
    }

    .awesome__content {
        flex-direction: column;
        align-items: center;
        margin-top: 83.7px;
    }

    .awesome__reasons h4 {
        margin-top: 33.7px;
    }

    .awesome__reasons__text {
        width: 288px;
        padding: 0;
        margin: 9px 0 43.7px 0;
    }

    .options {
        margin-top: 16.3px;
    }

    .options__offer {
        flex-direction: column;
        align-items: center;
        margin-top: 24px;
    }

    .options__offer__pack {
        width: 100%;
        margin-bottom: 27px;
    }

    .options__offer__pack_middle {
        margin-top: 0;
    }

    .options__offer__pack li {  
        padding: 11.5px 0;
    }

    .options__offer__pack li:first-child { 
        padding: 11px 0;
    }

    .options__offer__pack li:nth-child(2) { 
        padding: 25px 0;
        font-size: 24px;
        line-height: 28px;
    }

    .customers__reviews {
        flex-direction: column;
        padding: 24px 0;
    }

    .customers__reviews__item {
        margin-bottom: 40px;
    }

    .customers__item__comment {  
        padding: 50px 34px;
    }

    .customers__item__people {
        margin-top: 62px;
    }

    .customers__people__photo {
        width: 57px;
        height: 57px;
    }

    .customers__people__who h4 {
        font-size: 14px;
        line-height: 19px;
        padding: 8.5px 0;
        margin-bottom: 10px;
    }

    .customers__people__who p {
        font-size: 13px;
        line-height: 15px;
    }

    .banner { 
        padding-bottom: 58px;
    }

    .download_banner {
        width: 287px;
        margin: 66px auto 0;
    }

    .contact__form__field {
        flex-direction: column;  
    }

    .contact__form__field textarea {
        padding-bottom: 172px;
    }

    .contact__form input[type="submit"] {
        width: 288px;
    }

    .footer {
        padding: 37px 0 45px 0;
    }

    .footer__icons {
        column-gap: 17px;
    }

    .footer__icons a {
        height: 26px;
    }

    .footer__icons a img {
        width: 26px;
        height: 26px;
    }

    .footer__text {  
        margin-top: 44px;
    }
}
