body {   
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

#burger, [for=burger]{
    display: none;
}

h2 {
    font-size: 36px;
    line-height: 42px;
    padding: 62px 0;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

hr {
    width: 170px;
    height: 1px;
    background-color: #FFFFFF;
}

a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
    text-transform: capitalize;
}

input, textarea {
    resize: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 19px; 
    border-bottom: 1px solid #BDBDBD;
}

input::placeholder, textarea::placeholder {
    color: #BDBDBD;
} 

.header {
    background-color: #000000;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    margin-left: -55px;
}

.header__menu {
    display: flex;
}

.header__menu a {
    width: 114px; 
    font-size: 14px;
    line-height: 19px;
    padding: 28px 0;  
}

.header__menu a:hover{  
    background: #EC7979;
    text-transform: uppercase;
}

.header__menu a:active {
    background: #AB4949;
}

.main {
    background: url(../img/main.png) rgba(0, 0, 0, 0.5) no-repeat center bottom / cover;
    background-blend-mode: multiply; 
    padding: 207px 0 185px 0;
}

.main .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #FFFFFF;
}

.main__content__title {
    width: 670px;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    margin: 51px 0 55px;
}

.main__content__text {
    width: 270px;
    margin: 42px 0;
}

.download {
    width: 270px;
    border: 2px solid #FFFFFF;   
    font-size: 18px;
    line-height: 25px; 
    display: flex;
    justify-content: center;
    padding: 14.5px 0 14.5px 0;
}

.download:hover {
    border: 2px solid #EC7979;
    color: #EC7979;
}

.download:active {
    background: #AB4949;
    border: 2px solid #AB4949;
    color: #FFFFFF;
}

.main__form {
    width: 470px;
    background-color: #fff;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__form h4 {
    text-transform: uppercase;
    text-align: center;
    color: #333333;
    margin-bottom: 12px;
    padding: 28.5px 0;
}

.main__form span {
    font-weight: inherit;
    color:#EC7979;
}

.main__form input {
    width: 370px;
    border-bottom: 1px solid #BDBDBD; 
    margin-top: 17px;
    padding: 16px 0 16px 0;
}

input[type="submit"] {      
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    border: none; 
    background: #EC7979;
    color: #FFFFFF; 
}

input[type="submit"]:hover {
    background-color: #AB4949;
}

input[type="submit"]:active {
    background-color: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949;
}

.main__form input:last-child {
    width: 100%;  
    border-radius: 0px 0px 10px 10px;
    padding: 20px 0;
    margin-top: 75px;
}

.social {
    background-color: #F8EFEF;
    margin-bottom: 99px;
}

.social .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social__media h4 {
    padding: 13.5px 0;
}

.social__media p {
    width: 470px;
    color: #86878B;
    margin: 18px 0;
}

.social__icons {
    display: flex;
    column-gap: 30px;
}

.social__icons a:hover {
    transform: scale(1.2);
}

.tabs .container {
    display: flex;
    position: relative;
}

.tabs__content {
    display: none;
    column-gap: 30px;
    border: 1px solid #C6CBCD;
    position: absolute;
    top: 38px;
    z-index: 0;
}

#tab1:checked ~ .tabs__content_1 {
    display: flex;   
}

#tab2:checked ~ .tabs__content_2 {
    display: flex;   
}

#tab3:checked ~ .tabs__content_3 {
    display: flex;   
}

.tabs__features {
    padding-left: 100px;
}

.tabs__features__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    padding: 41.5px 0;
}

.tabs__features__text {
    width: 570px;
    margin: 27px 0;
}

.tabs__features__text span {
    display: block;
}

.tabs .download {
    background-color: #EC7979;
    color: #fff;
    margin-bottom: 54px;
}

.tabs .download:hover {
    background-color: #AB4949;
    color: #fff;
}

.tabs .download:active {
    background-color: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949;
    color: #fff;
}

.tabs input[type="radio"] {
    width: 0;
    height: 0;
    opacity: 0;
}

.tabs label {
    width: 184px;
    height: 40px; 
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin-bottom: 500px;
    z-index: 1; 
}

#tab1:checked ~ label:first-of-type {
    width: 203px;
    border: 1px solid #C6CBCD;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 3px solid #fff;
}

#tab2:checked ~ label:nth-of-type(2) {
    width: 203px;
    border: 1px solid #C6CBCD;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 3px solid #fff;
}

#tab3:checked ~ label:last-of-type {
    width: 203px;
    border: 1px solid #C6CBCD;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 3px solid #fff;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.heading__title {
    padding: 54px 0;
    text-transform: uppercase;
}

.heading__line {
    background-color: #EC7979;
}

.heading__text {
    color: #86878B;
    margin-top: 40px;
}

.awesome__content {
    display: flex;
    justify-content: space-between;
    text-align: center;
    column-gap: 30px;
    margin-top: 110px;
}

.awesome__reasons {
    flex-grow: 1;
}

.awesome__reasons h4 {
    padding: 33px 0;
}

.awesome__reasons__text {
    padding: 0 12px;
    margin: 8px 0 58px 0;
}

.options {
    background: #F5F5F5;
}

.options__offer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 30px;
    padding-bottom: 50px;
    margin-top: 79px;
}

.options__offer__pack {
    text-align: center;
    flex-grow: 1;
}

.options__offer__pack li {  
    color: #86878B; 
    background-color: #FFFFFF; 
    border: 1px solid #F5F5F5;   
    padding: 13.8px 0;
}

.options__offer__pack li:first-child {   
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;    
    background-color: #333333;
    padding: 11.5px 0;
}

.options__offer__pack li:nth-child(2) {  
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF; 
    background-color: #333333;
    padding: 27px 0;
}

.options__offer__pack li:nth-child(3) {
    background-color: #333333;
    color: rgba(255, 255, 255, 0.5);
}

.options__offer__pack_middle {
    margin-top: -20px;
    box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.2);
}

.customers__reviews {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    padding: 83px 0 64px 0;
}

.customers__reviews__item {
    flex-grow: 1;
}

.customers__item__comment { 
    height: 180px;
    color: #86878B; 
    background: #E2E2E2;
    border-radius: 10px; 
    display: flex;
    text-align: center;
    align-items: center;
    padding: 23px;
    position: relative;
}

 .customers__item__comment::after {
    content:''; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #E2E2E2;
    position: absolute; 
    left: 70px;
    top: 179px;
    }

.customers__item__people {
    display: flex;
    column-gap: 30px;
    margin-top: 66px;
}

.customers__people__photo {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.customers__people__who h4 {
    padding: 10.5px 0;
    margin-bottom: 15px;
}

.banner { 
    background: url(../img/banner.png) rgba(0, 0, 0, 0.5) no-repeat center top / cover;
    background-blend-mode: multiply; 
    color: #FFFFFF;
    padding-bottom: 50px;
}

.heading_white hr {
    background-color: #FFFFFF;
}

.heading_white p {
    color: #FFFFFF;
}

.download_banner {
    width: 370px;
    margin: 73px auto 0;
}

.contact__form {
    font-family: 'Open Sans', sans-serif; 
    margin: 81px 0 50px 0;
}

.contact__form__field {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.contact__form__field > div {
    flex-grow: 1;
}

.contact__form__field div input {
    display: block;
    width: 100%;
    margin-bottom: 41px;
    padding: 8px 0 8px 0;
}

.contact__form__field textarea {
    flex-grow: 1;   
    margin-bottom: 41px;
    padding: 8px 0 8px 0;
}

.contact__form input[type="submit"] {
    width: 370px;
    padding: 16.5px 0;
    margin-left: 50%;
    transform: translate(-50%);
}

.footer {
    background-color: #000000;
    padding: 35px 0 27px 0;
}

.footer__icons {
    display: flex;
    justify-content: center;
    column-gap: 32.8px;
}

.footer__icons a {
    height: 54px;
}

.footer__icons a:hover {
    transform: scale(1.2);
}

.footer__text {  
    color: rgba(255, 255, 255, 0.5); 
    text-align: center;
    margin-top: 27.8px;
}